body {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
.wrapper {
    margin-top: 60px;
    margin-bottom: 40px;
}

div.alert.alert-success {
    background-color: white;
    border-color: black;
    color: black;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

div.alert.alert-success a {
    font-weight: bold;
}

div.alert.alert-success a:hover {
    text-decoration: none;
}

div.header {
    font-size: 42px;
    font-family: 'Poiret One', sans-serif;
    margin-bottom: 60px;
    align-items: center;
    justify-content: center;
    display: block;
}


div.title-wrapper {
    padding: 0;
    text-align: center;
}

div.nav {
    padding: 0;
    text-align: center;
}

div.header .title {
    color: black;
    padding: 15px;
    border: 3px solid black;
    display: block;
}

div.header a:hover {
    text-decoration: none;
}

div.header .fa-lightbulb-o {
    font-size: 75%;
    padding-right: 5px;
    padding-left: 5px;
    cursor: pointer;
    display: inline-block;
}

div.header .fa-user {
    font-size: 75%;
    padding-right: 5px;
    padding-left: 5px;
    cursor: pointer;
    display: inline-block;
}

div.header .fa-pencil {
    font-size: 75%;
    padding-right: 5px;
    padding-left: 5px;
    cursor: pointer;
    display: inline-block;
}

div.header .fa-cog {
    color: black;
    border: none;
    background-color: white;
    font-size: 75%;
    padding-right: 5px;
    padding-left: 5px;
    cursor: pointer;
    display: inline-block;
}

button#logoutPopover:focus {
    outline: none;
}

div.popover-content {
    color: black;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}

div.posts {
    background-color: #F5F5F5;
    border-radius: 5px;
}

.card img {
    max-width: 100%;
}

.card-columns {
    column-count: 1;
}

.card {
    position: relative;
    display: inline-block;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 0;
    margin-bottom: .75rem;
    margin-top: .75rem;
}

.card:after {
    content:'\A';
    position:absolute;
    width:100%; 
    height:100%;
    top:0; 
    left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    border-radius: 8px;
}
.card:hover:after {
    opacity: 0.1;
}

.card-block {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 1.25rem;
    background-color: white;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
}

h4.card-field {
    text-align: center;
}

.modal-body {
    padding: 30px;
}

#fileHelp {
    display: block;
}

#caption-form-group {
    margin-top: 60px;
}

#newPhotoButton {
    border: 1px solid black;
    font-family: 'Raleway', sans-serif;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    padding: 5px;
}

#photoLabel {
    display: block;
}

#newPhoto {
    width: 100%;
}

#photoSuccess {
    width: 100%;
    margin-bottom: 20px;
    float: left;
    color: green;
}

#aboutModal p {
    font-family: 'Raleway', sans-serif;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

div.form-group label {
    font-weight: normal;
}

.control-label {
    font-family: 'Raleway', sans-serif;
}

#postButton.btn-primary {
    font-family: 'Raleway', sans-serif;
    color: black;
    background-color: white;
    border-color: black;
}

#editPostButton.btn-primary {
    font-family: 'Raleway', sans-serif;
    color: black;
    background-color: white;
    border-color: black;
}

#deletePostButton.btn-primary {
    float: right;
    font-family: 'Raleway', sans-serif;
    color: black;
    background-color: white;
    border-color: black;
}

#postFooter {
    text-align: left;
}

#createAccountButton.btn-primary {
    font-family: 'Raleway', sans-serif;
    color: black;
    background-color: white;
    border-color: black;
    padding: 6px 40px;
}

#createAccountFooter {
    text-align: left;
}

#loginButton.btn-primary {
    font-family: 'Raleway', sans-serif;
    color: black;
    background-color: white;
    border-color: black
}

#loginFooter {
    text-align: left;
}

div.login-redirect {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
}

div.login-redirect p {
    display: inline-block;
    padding-top: 6px;
}

div.login-redirect a {
    display: inline-block;
    padding-top: 6px;
}

div.account-redirect {
    display: inline-block;
    float: right;
    font-family: 'Raleway', sans-serif;
}

div.account-redirect p {
    display: inline-block;
    padding-top: 6px;
}

div.account-redirect a {
    display: inline-block;
    padding-top: 6px;
}

/*styles to fix google location autocomplete not showing in modal */

.pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}
.modal{
    z-index: 20;   
}
.modal-backdrop{
    z-index: 10;        
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    div.header {
        display: flex;
    }
    
    div.header .title {
        float: right;
        display: inline;
    }
    
    div.header .fa-lightbulb-o {
        float: right;
        font-size: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    div.header .fa-user {
        float: right;
        font-size: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    div.header .fa-pencil {
        float: right;
        font-size: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    div.header .fa-cog {
        float: right;
        font-size: 42px;
        font-size: 100%;
    }
    
    .card-columns {
        column-count: 5;
        column-gap: 1.25rem;
    }
    
    div.login-redirect {
        float: right;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

    
}