.wrapper {
    margin-top: 60px;
    margin-bottom: 40px;
}

div.header {
    font-size: 42px;
    font-family: 'Poiret One', sans-serif;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.title-wrapper {
    padding: 0;
    text-align: center;
}

div.nav {
    padding: 0;
}

div.header .title {
    color: black;
    padding: 15px;
    border: 3px solid black;
    float: right;
}

div.header .fa-user {
    float: right;
}

div.header .fa-pencil {
    float: right;
}

div.header a:hover {
    text-decoration: none;
}

div.posts {
    background-color: #FFFAF7;
    border-radius: 5px;
}

.card-columns {
    column-count: 5;
    column-gap: 1.25rem;
}

.card {
    position: relative;
    display: inline-block;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 0;
    margin-bottom: .75rem;
    margin-top: .75rem;
}

.card:after {
    content:'\A';
    position:absolute;
    width:100%; 
    height:100%;
    top:0; 
    left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    border-radius: 8px;
}
.card:hover:after {
    opacity: 0.1;
}

.card-block {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 1.25rem;
    background-color: white;
    border-radius: 8px;
    font-family: 'Raleway', sans-serif
}

h4.card-caption {
    text-align: center;
}

.modal-body {
    padding: 15px;
}

.control-label {
    font-family: 'Raleway', sans-serif;
}

#post-button.btn-primary {
    font-family: 'Raleway', sans-serif;
    color: black;
    background-color: white;
    border-color: black;
}

#postFooter {
    text-align: left;
}

#create-account-button.btn-primary {
    font-family: 'Raleway', sans-serif;
    color: black;
    background-color: white;
    border-color: black;
    padding: 6px 40px;
}

#createAccountFooter {
    text-align: left;
}

#login-button.btn-primary {
    font-family: 'Raleway', sans-serif;
    color: black;
    background-color: white;
    border-color: black
}

#loginFooter {
    text-align: left;
}

div.login-redirect {
    display: inline-block;
    float: right;
    font-family: 'Raleway', sans-serif;
}

div.login-redirect p {
    display: inline-block;
    padding-top: 6px;
}

div.login-redirect a {
    display: inline-block;
    padding-top: 6px;
}

div.account-redirect {
    display: inline-block;
    float: right;
    font-family: 'Raleway', sans-serif;
}

div.account-redirect p {
    display: inline-block;
    padding-top: 6px;
}

div.account-redirect a {
    display: inline-block;
    padding-top: 6px;
}

h4.post-modal-title {
    font-family: 'Fjalla One', sans-serif;
}